/*Declares style rules for entire page*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Sets background-color to this value for entire body*/
body {
  background-color: blue;
}

/*Sets style rules the heading*/
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightblue;
  color: #ffffff;
}
/*Sets style rule for the h1 of the header*/
header h1 {
  display: inline-block;
  font-size: 48px;
  color: black;
}
/*Sets color for this span class of the h1*/

/*Sets style rules and display of the navigation bar*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
/*Declares list type*/
header nav ul {
  list-style-type: none;
}
/*Sets display of the list in the navigation bar*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*Style rules for each of the list items*/
header nav ul li a {
  color: black;
  text-decoration: none;
}
.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image:url("../images/istockphoto-471620647-170667a.jpg");
  background-size: cover;
  background-position: center;
}

.hero h2{
  padding: 250px 70px;
  float: right;
  font-size: 48px;
  color: black;
}

.About-Me{
 height: 300px;
 width: 100%;
 margin: 0 auto 200px auto;
  background: lightblue;
  
  flex: 1
}
.About-Me h2{
  border-right: 2px;
}
.About-Me img{
  height: 300px;
  width: 300px;

margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.Work {
  background-color: lightblue;
  padding: 32px 0;
  margin-top: 2rem;
}

.work-pic {
  width: 65%;
  height: 60%;
}

.work-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contact-Me{
  height: 300px;
  width: 100%;
  margin: 0 auto 200px auto;
   background: lightblue;
   
   flex: 
}
.Resume{
  height: 300px;
 width: 100%;
 margin: 0 auto 200px auto;
  background: lightblue;
  
  flex: 
}
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}